body {
    width: 80vw;
    min-width: 800px;
    margin: 0 auto;
    height: 100vh;
}

html {
    /* globally scoped */

    font-size: 10px;
    background-color: slategray;
    background: linear-gradient(
    133deg, 
    rgba(235, 217, 181, 1) 0%,
    rgba(236, 105, 165, 1) 50%,
    rgba(89, 232, 247, 1) 100%
    );
    background-repeat: no-repeat;
}

h1, 
h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #2a2a2a;
}

p, li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chocolate;
}


